<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout :: base_header('Todo New')">
</head>
<body>
	<div th:replace="layout::header"></div>
	<h1>Todo:show</h1>
	<div class="my-center" th:object="${todo}">
		<div th:text="|ID:*{id}|">ID</div>
		<div th:text="|TODO:*{task}|">TASK</div>
		<div th:text="|DONE?:*{done}|">DONE?</div>
	</div>
	<h2 class="my-center">Child TASK</h2>
	<table class="my-center">
		<tr>
			<th>check</th>
			<th>ID</th>
			<th>TASK</th>
			<th>DONE?</th>
			<th>DELETE</th>
		</tr>
		<tr th:each="todo:${children_todo}" th:object="${todo}">
			<td>
				<form th:action="|${link_to_update}/${todo.id}|" th:method="put">
					<input type="hidden" name="task" th:value="*{task}" />
					<input type="hidden" name="version" th:value="*{version}" />
					<input type="hidden" name="done" th:value="not *{done}" />
					<input type="submit" class="checkbox-submit" value="DONE!" />
				</form>
			</td>
			<td th:text="*{id}">ID</td>
			<td><a th:href="|${link_to_child_show}/*{id}|" th:text="*{task}">TASK</a></td>
			<td th:text="*{done}">DONE?</td>
			<td><form th:action="|${link_to_destroy}/*{id}|" th:method="delete">
                <input type="submit" value="delete" /></form></td>
		</tr>
	</table>
	<div th:if="not ${todo.parent}">
		<a th:href="|${link_to_child_new}/${todo.id}|">New Child Task</a>
	</div>
	<div th:replace="layout::footer"></div>
</body>
</html>